header h1 {
    text-align: center;
    color: #ffffef;
    background-color: #104040;
    padding: 30px;
    font-family:
}
.calc-item {
    text-align: center;
    width: 33%;
    background-color: #ccc;
    padding: 10px 10px 20px;
}

.calc-item input{
    margin: 7px;
}


