// main: ../style.less
.about {
    margin: 12.4rem 0;
}
.about__inner {
    display: flex;
    flex-wrap: wrap;
    max-width: 1080px;
}
.about__photo {
    width: 50%;
}
.about__content {
    width: 50%;
}
