// main: ../style.less
.about {
    margin: 12.4rem 0;
}
.about__inner {
    display: flex;
    flex-wrap: wrap;
    max-width: 1080px;
}
.about__photo {
    width: 50%;
}
.about__content {
    width: 50%;
    padding-left: 4rem;
    margin-top: 3.6rem;
}
.about__title {
    font-size: 4.5rem;
    color: @black;
    font-weight: 700;
    text-transform: uppercase;
}
.about__bigtitle {
    font-size: 9.2rem;
    color: #dedede;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
}
.about__text {

    margin-bottom: 4rem;
    font-size: 1.2rem;
    color: @gray;
    line-height: 2;
    font-weight: 200;
}

