// main: ../style.less

.header {
    padding: 1.2rem 0;
}
.header__inner {
    display: flex;
    justify-content: space-between;
}
.user {
    display: flex;
}
.user__avatar img{
    border-radius: 50%;
}
.user__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 9px;
}
.user__name {
    font-size: 16px;
    font-weight: 700;
    color: @black;
}
.user__prof {
    font-size: 12px;
    color: @gray;
}
