// main: ../style.less
.intro {
    margin-bottom: 25px;
}
.intro__inner {
    display: flex;
    padding: 100px 0 120px;
    border-bottom: 1px solid fade(@gray, 30%);
    background: url(../images/symbols.png) right bottom no-repeat;
    position: relative;
}
.intro__content {
    width: 50%;
}
.intro__subtitle {
    font-size: 3.2rem;
    color: @black;
    font-weight: 200;
}
.intro__title {
    margin-bottom: 5px;
    font-size: 4.5rem;
    color: @black;
    font-weight: 700;
}
.intro__text {
    margin-bottom: 25px;
    font-size: 1.8rem;
    font-weight: 400;
    color: @gray;
}
.intro__photo {
    position: absolute;
    right: 0;
    bottom: -1px;
    z-index: 1;
}
