// main: ../style.less
.about {

}

.about__inner {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.about__ico {
    margin: 0 auto;
    width: 84px;
    height: 70px;
}

.about__suptitle {
    margin-top: 4rem;
    color: @gray;
    font-family: Roboto;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.about__title {
    margin: 2.4rem 0 3.5rem;
    color: @black;
    font-family: Rufina;
    font-size: 4.2rem;
    font-weight: 700;
}

.about__text {
    margin: 0 auto;
    max-width: 856px;
    margin-bottom: 300rem;
    color: @gray;
    font-family: Roboto;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 28px;
  //  letter-spacing: -.1px;
}
