// main: ../style.less
.about {
    padding: 9rem 0;
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
}
.flex1 {
    flex-basis: 17%;
}
.flex2 {
    flex-basis: 33%;
}
.flex3 {
    flex-basis: 40%;
    position: relative;

}
.about__img {
    clip: rect(auto, 20%, auto, auto);
    position: absolute;
    max-width: 100%;
    right: -140px;
    bottom: -13%;
    z-index: 1;
}
