// main: ../style.less
.blog__content {
    margin: 0 -15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog__item {
    padding-bottom: 0rem;
    width: 32%;
    border: 1px solid #e3e6ea;
    text-align: center;
    &:hover {
        border-color: @white;
        box-shadow: 0 15px 40px rgba(4, 10, 50, 0.1);
    }
     &:active {
        border-color: @white;
        box-shadow: 0 15px 40px rgba(4, 10, 50, 0.1);
    }

}
.blog__image {
    padding: 2rem;
}
.blog__info {
    text-align: center;
    padding-bottom: 5rem;
}
.blog__date {
    margin-top: 1.3rem;
    color: @gray;
    font-family: Roboto;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.blog__dev {
    display: inline-block;
    padding: 0 9px;
}
.blog__title {
    font-family: Rufina;
    font-size: 2.2rem;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}
.blog__text {

    padding: 0 2rem;
    color: @gray;
    font-family: Roboto;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 27px;
    margin-bottom: 3rem;
}

@media @notebook {

}
@media @tablet {

}
@media @mobile {

}
@media @mobile-sm {

}
