// main: ../style.less
.form__col1 {
    padding-left: 100px;
    padding-top: 132px;
}
.form__input {
    display: block;
    padding: 7px 5px;
    border-bottom: 1px solid #263a41;
    color: #999999;
  //  background-color: transparent;
    font-family: Roboto;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 6rem;
    border: none;
}
