// main: ../style.less
.header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    margin-bottom: 25rem;
}
.header__inner {
    padding: 7rem 0;
    margin-right: 36rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    position: relative;
}
.header__ico {
    position: absolute;
    left: 31px;
    bottom: 39px;
    z-index: 1;
}

.header__name {
    color: #211833;
    font-family: "Playfair Display";
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 3px;
}
