// main: ../style.less
.header {

}
.header__inner {
    padding: 7rem 0;
    width: 100%;
    max-width: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    position: relative;
}
.header__ico {
    position: absolute;
    left: 31px;
    bottom: 39px;
    z-index: 1;
}

.header__name {
    color: @black;
    font-family: "Playfair Display";
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 3px;
}

@media @mobile {
    .header__inner {
        padding-bottom: 3rem;
    }
}
