// main: ../style.less
.intro {
 width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
.intro__inner {
    padding: 27rem 0;
    width: 50%;
}
.intro__suptitle {
    color: @pink;
    font-family: Rufina;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 72px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
}
.intro__title {
    color: @black;
    font-family: Rufina;
    font-size: 6rem;
    font-weight: 700;
    line-height: 75px;
}
.intro__text {
    color: #555555;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
}
.intro__next {
    width: 12px;
    height: 12px;
    fill: @black;
}
.intro__blot {
    position: absolute;
    right: -40px;
    top: 0;
    z-index: 1;
}
.intro__flower {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}
.intro__leaf {
   position: absolute;
    left: 0;
    top: 154px;
    z-index: 1;
}
