// main: ../style.less
.proc__content {
    margin: 0 -15px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.proc__item {
    padding-bottom: 0rem;
    width: 32%;
    border: 1px solid #e3e6ea;
    text-align: center;
    &:hover {
        border-color: @white;
        box-shadow: 0 15px 40px rgba(4, 10, 50, 0.1);
    }
     &:active {
        border-color: @white;
        box-shadow: 0 15px 40px rgba(4, 10, 50, 0.1);
    }

}
.proc__image {
    padding: 2rem;
}
.proc__info {
    text-align: center;
    padding-bottom: 5rem;
}
.proc__title {
    font-family: Rufina;
    font-size: 2.2rem;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}
.proc__text {
    padding: 0 4rem;
    color: @gray;
    font-family: Roboto;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 27px;
    margin-bottom: 3.8rem;
}

@media @mobile {
    .proc__item {
        width: 48%;
        margin: 5px;
    }
}
@media @mobile-sm {
    .proc__item {
        width: 100%;
        max-width: 350px;
        margin: 5px auto;
    }
}
