// main: ../style.less
.request {
     background-color: #fff9f8;
     padding: 0;
     display: flex;
}
.request__left {
    width: 32%;
    height: 642px;
    position: relative;
  //  overflow: hidden;
}
.request__img {
    min-width: 100%;
    max-height: 100%;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 1;
    transform: translate3d(0,-50%,0);
}
.request__right {
    width: 68%;

    display: flex;
}


