// main: style.less
@black : #263a41;
@gray : #888888;
@pink : #ff817e;
@white : #fff;
@notebook: ~"(max-width: 1199px)";
@tablet: ~"(max-width: 991px)";
@mobile: ~"(max-width: 767px)";
@mobile-sm: ~"(max-width: 565px)";



