*,
*:before,
*:after {
  box-sizing: border-box; }

body, html {
  height: 100vh; }

body {
  font-family: 'Roboto', sans-serif;
  color: #22222b; }

.main {
  background-image: url(../img/bg.jpg);
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between; }

.wrapper {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto; }

.header {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.nav {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0; }
  .nav-item {
    margin-left: 22px; }
  .nav-link {
    color: #22222b;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom .3s; }
    .nav-link:hover {
      border-bottom: 1px solid #22222b; }

.title-h1 {
  font-size: 60px;
  font-weight: 300;
  text-align: center; }
  .title-h1 span {
    font-weight: 500; }

.btn-scroll {
  background-color: transparent;
  border: none;
  display: block;
  padding-bottom: 43px;
  margin: 0 auto; }

.box-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 200px; }
  .box-about-item {
    flex: 0 0 45%;
    max-width: 45%;
    position: relative; }
    .box-about-item:first-child {
      display: flex;
      justify-content: flex-end; }
  .box-about__back {
    position: absolute;
    z-index: -1;
    left: 0;
    top: -108px; }
  .box-about__vertical {
    position: absolute;
    left: 0;
    writing-mode: vertical-lr; }
